<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><a href="https://app.sola.day">https://app.sola.day</a></p>
    <p><%= @event.title %></p>
    <p><%= @event.event_url %></p>
    <p><%= @event.group_url %></p>
    <p><%= @comment.content %></p>
  </body>
</html>